:root{
  --primary-bg-color: hsla(22, 33%, 86%, 0.954);

  --primary-color:  hsl(30, 10%, 34%);

  --header-color:  hsl(14, 45%, 36%);

}

body {
   background-color: var(--primary-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    /* font-size: 16px; */
    font-size: 14px;

}
.main-container{
 /* background-color: var(--primary-bg-color); */
 background-color: white;
    min-width: 320px;
    height: 100%;
}
img{
    width: 100%;
}
.recipe-container{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
h1{
   font-weight: 600;
    line-height: 1em;
    }
p{
  margin: 0px;
  text-align:left;
 
}
h2{
  color: var(--header-color);
  margin-left: 22px;
}
h3{
  color: hsl(332, 51%, 32%);
}
li{
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
::marker{
  color: var(--header-color);
  font-weight: 800;
  
  
}
.preparation{
  background-color:hsl(330, 100%, 98%);
  border-radius: 10px;
  width: 80%;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 8px;
  padding-right: 10px;
  margin-top: 25px;
  margin-left: 18px;
}
.preparation ul{
padding-left: 25px;
}
.instruction{
 

}
/* .instruction-container{
  width: 90%;
  border: 1px solid;
border-left-style: none;
border-right-style: none;
margin-left: 10px;
margin-left: auto;
margin-right: auto;
} */

.text-nutrition{
  padding-left: 22px;
}
.nutrition-container{

}