:root{
  --primary-bg-color: hsla(11, 16%, 79%, 0.831);

  --primary-color:  rgba(20, 2, 7, 0.858);
}

body {
  background-color: var(--primary-bg-color);
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    font-size: 16px;

}
.main-container{
    width: 320px;
    height: 100%;
}
img{
    width: 100%;
}
.name-recipe{
  display: flex;
  flex-direction: column;
  justify-content: center;  
 
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
h1{
   font-weight: 600;
    line-height: 1em;
    }
p{
  margin: 0px;
  text-align:left;
 
}
.preparation{
  background-color:hsla(332, 34%, 69%, 0.925);
  width: 80%;
  padding: 15px;
  margin-top: 25px;
  margin-left: 20px;
}
.instruction{
 list-style:square;

}